@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display+SC&display=swap');

html, body {
    margin: 0px;
}

body {
    font-size: 18px;
    background-image: url("./images/kiwihug-3gifzboyZk0-unsplash.jpg") ;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.motto {
    font-family: 'Cinzel', serif;
    font-style: italic;
}



.page-wrap {
    height: fit-content;
    background-color: black;
    animation: bg-transition 2s ease-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bg-transition {
    from {
        background-color: black;
    }
    to {
        background-color: rgb(255, 255, 255,0);
    }   
}

.content-wrap {
    max-width: 90%;
    padding-right: 1vw;
    padding-left: 1vw;
    display: grid;
    grid-template-rows: .1fr .1fr .1fr .1fr .1fr .1fr .1fr;
}

h1, h3 {
    animation: slidein-rightside .9s forwards ease;
}

h2, .small-bullets {
    animation: slidein-leftside .9s forwards ease;
}

.starter-info {
    animation: slidein-topside .9s forwards ease;
}

@keyframes slidein-rightside {
    from {
        transform: translateX(100%);      
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slidein-leftside {
    from {
        transform: translateX(-100%);      
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slidein-topside {
    from {
        transform: translateY(-100%);      
    }
    to {
        transform: translateY(0%);
    }
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    z-index: 1;
    background-color: rgb(210, 180, 140, .3);
    font-size: 0.8em;
}


ul {
    grid-column: 2;
    display: grid;
    list-style-type:circle;
}

h1, h2 {   
    text-decoration: underline;
}

section, header {
    grid-column: 2;
}

.border-wrap {
    display: flex;
    flex-direction: column;   
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
}

.alias {
    text-align: center;
    font-size: 1.3em;
}

.starter-info {
    text-align: center;
}

.starter-info-grid {
    display: grid;
    gap: 1.3vh;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}

.contact {
    font-size: 1.2em;
    font-weight: 900;
    display: grid;

}

.phone-number, .email {
    margin-left:1vw;
}

footer {
    grid-row: -1;
    grid-column: 2;
}

.entry {
    margin-bottom: 4vh; 
}

h2, h3 {
    margin-bottom: 0;
    font-size: 1.5em;
}

.small-bullets {
    padding-left: 5vw;
}

.large-bullets {
    list-style: disc;
}

@media  (min-width: 500px){

    header {
        font-size: 1em;
    }
    
    .content-wrap {
        max-width: 80%;
    }

    .starter-info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .1fr .1fr .1fr .1fr .1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
        padding-left: 3vw;
    }
    .starter-info-grid>div:not(.contact) {
        grid-column: 2;
    }
    
    .contact {
        grid-row: -2;
        grid-column: 1/4;
        text-align: start;
        display: unset;
    }
}